<nav class="navbar navbar-expand-lg navbar-dark bg-success" style="font-family: 'Poppins', 'sans-serif';">
  <a href="home" class="navbar-brand" style="padding-left: 10px;">MusiCare</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="/musicas" class="nav-link">Musicas</a>
  </li>
    <li class="nav-item">
        <a href="/cantores" class="nav-link">Cantores</a>
    </li>
    <li class="nav-item">
        <a href="/albuns" class="nav-link">Albuns</a>
    </li>
    <li class="nav-item">
      <a href="/generos" class="nav-link">Genero</a>
  </li>
  </ul>
</nav>